// fonts
//$font-main: 'Roboto', sans-serif;

// colors
//$color-bg: #f3f4f5;
//$color-secondary: #999;

$colorOrange: #f26002;
$colorWhite-Two: #f2f2f2;
$colorGreyish-brown: #4a4a4a;
$colorWhite: #ffffff;
$colorBlack: #000000;
$font-RobotoSlab: 'Roboto Slab', serif;
$font-roboto:'Roboto', sans-serif;
