.connect{
    height: auto;
    padding: 20px 15px 10px;
    font-family: $font-roboto;
    &__sentiments{
        color: $colorOrange;
        font-size: 14px;
        line-height: 30px;
    }
    &__yourself{
        font-size: 24px;
        padding-bottom: 11px;
    }

    &__paragraph{
        color: $colorGreyish-brown;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 30px;
    }
    
}
.buttonbuy{
    border: solid 2px $colorOrange;
    background-color: $colorWhite;
    color: $colorOrange;
    width: 160px;
    height: 45px;
    border-radius: 23px;
    margin: 0 0 10px;
}
