.footer{
    background-color: $colorGreyish-brown;
    color: $colorWhite;
    font-size: 16px;
    font-family: $font-roboto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__arrow{
        background-color: $colorWhite;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-top: 17px;
        transform: translateY(-85%);
        @media (min-width: 768px){
           position: absolute; 
        }
        
        &--image{
            transform: translateY(50%);
        }
    }
    @media (min-width: 768px){
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

.footer__clothes{
    line-height: 1.88;
    padding-bottom: 30px;
    @media (min-width: 768px){
        order: 2;
        padding-top: 56px;
    }
    &--List1{
        list-style: none;
    }
}

.footer__social{
    line-height: 1.88;
    padding-bottom: 30px;
    @media (min-width: 768px){
        order: 3;
        padding-top: 56px;
    }
    &--List2{
        list-style: none;
    }
}

a{
    text-decoration: none;
    color: $colorWhite;
}

.footer__lastone{
    line-height: 1.88;
    padding-bottom: 30px;
    font-size: 14px;
        @media (min-width: 768px){
        order: 1;
        padding-top: 56px;
        padding-left: 0px;
    }
    & span{
        color: red;
    }
}

