.footer{
    background-color: $colorGreyish-brown;
    color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__List1{
        list-style: none;
    }
    &__List2{
        list-style: none;
    }
    & a{
        text-decoration: none;
        list-style: none;
        color: $colorWhite;
    }
}

