.footer{
    background-color: $colorGreyish-brown;
    color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

