<footer class="footer">

    <a href="" class="footer__arrow">
        <img class="footer__arrow--image" src="/img/ico-arrow.svg" alt="iconoflecharriba">

    <section class="footer__clothes">
        <ul class="footer__clothes--List1">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </section>

    <section class="footer__social">
        <ul class="footer__social--List2">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </section>

    <div class="footer__lastone">
        <p>&copy;2023</p>
        <p>we &hearts; run </p>
    </div>

</footer>
