<footer class="footer">
    <img src="/img/ico-arrow.svg">
    <section class="clothes">
        <ul class="footer__List1">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </section>

    <section class="socialnetworks">
        <ul class="footer__List2">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </section>

    <div>
        <p>&copy;2023</p>
        <p>we &hearts; run </p>
    </div>

</footer>
