<section id="newyear" class="newYear">
    <h5 class="newYear__tittle">Año nuevo, movimientos nuevos</h5>
    <section class="newYear__section">
        <div class="newYear__section--div">
            <h6>Entrenamientos</h6>
            <p>Sesiones de running y entrenamientos.</p>
        </div>
        <div class="newYear__section--div">
            <h6>Cualquier nivel</h6>
            <p>Entrenamientos para cada nivel.</p> 
        </div>
        <div class="newYear__section--div">
            <h6>Exclusividad</h6>
            <p>Productos para miembros premium.</p> 
        </div>
    </section>
    <button class="buttonstart">Empezar ahora</button>
</section>